@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    text-align: center;
}

body #canvas {
    float: center;
    border-bottom: 1px solid rgb(32, 32, 32);
    /* Change border color */
}
body button {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    text-align: center;
    background-color: red;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px 40px;
}
h2 {
    color: white;
}
footer p {
    color: yellow
}