@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P', cursive;
    background-color: #0A0E16;
    text-align: center;
}

/* body {
    background-image: url(https://i.pinimg.com/originals/9b/f6/5c/9bf65cadfdf7e3d783a810aa8854f6e9.jpg);
    background-size: 800px 800px; 
    background-repeat: no-repeat;
    background-position: top center;
} */

body #canvas {
    float: center;
    border-bottom: 1px solid rgb(32, 32, 32);
    /* Change border color */
}
body button {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    background-color: blue;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px 40px;
}
h2 {
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: cyan;
}